@charset "UTF-8";

@font-face{
	font-family: 'fb_logo';
	src: url("../fonts/FACEBOLF.OTF");
}

html{
	margin:0;
	padding:0;	
	background-color: #8C271D;
}
body{
	margin:0;
	padding:0;	
	background-color: #8C271D;
}
#master{
    background-color: #8C271D;
    width: 100%;
    height: 100%;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    position: absolute;
    top: 0; left: 0; 
}
#logo_row{
    color: #E0CA3C;
    font-size:500%;
    height: 40%;
    text-align: center;
    font-family: 'fb_logo';
    /* justify-content: center; */
   /*  position: fixed;
    top:20%; */
}
.label{
	text-align: right;
	font-size: 125%;
	color: #E0CA3C;
}
.login_btns{
	background-color: #3A4454;
	border-color: black;
	color: #E0CA3C;
	text-align: center;
}
.navbar{
	height:8%;
	box-shadow: 0px 4px 15px black;
}
.navbar ul{
	align-items:center;
}
.navbar li a{	
	color: #9DA2AB !important;
}
.navbar li a:hover{	
	color: #E0CA3C !important;
}
.navbar .navbar-brand{
	color: #E0CA3C !important;
}

#logo{
	font-size: 150%;
}

#profile_info{
	/* background-color:#FFFBFF;
	border: 3px solid #9DA2AB; */
}
#profile_pic{
	background-color:#FFFBFF;
	border: 3px solid #9DA2AB;
	border-radius: 25px;
	box-shadow: 5px 5px 15px black;
}
#profile_about{
	background-color:#FFFBFF;
	overflow-wrap: break-word;
	text-align:left;
	border: #9DA2AB 3px solid;
	border-radius: 25px;
	box-shadow: 5px 5px 15px black;
}
#tommy{
	max-width: 100%;
}
#profile_feed{
	height:80%;
	min-width:60%;
	justify-content:center;
}
#profile_feed .post{
	background-color:#FFFBFF;
	border: 3px solid #9DA2AB;
	overflow-wrap: break-word;
	margin-top:3%;
	margin-bottom:3%;
    min-height:100px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
    
}
#profile_feed .private  {
    background-color:#3A4454;
    color:#FFFBFF;
}
#say_more{
	padding:5%;
	/* display:flex; */
}
#say_more textarea{
	resize: vertical;
}